#etch_a_sketch{
    width: 960px;
    height: 960px;
    display: grid;
}

.gridRow{
    display: flex;
}

.cell{
    border: #654aff 1px inset;
    flex-grow: 1;
}

.line{
    background-color: teal;
}
